@font-face {
    font-family: "OpenSans";
    src: url(../sources/fonts/OpenSans-Bold.woff);
    font-weight: 700;
    font-style: normal;
}
  
  @font-face {
    font-family: "OpenSans";
    src: url(../sources/fonts/OpenSans-Regular.woff);
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: "OpenSans", "Tahoma", sans-serif;
}

.popup {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;

    background-color: rgb(0, 0, 0, 0.5);
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}

._hidden {
    display: none;
}

.popup__toggle {
    display: none;
}

.popup__toggle:checked + .popup {
    display: flex;
}

.popup-content {
    position: relative;
    background-color: rgb(255, 255, 255);
    width: 390px;
    height: 589px;
    box-sizing: border-box;
    padding: 20px;
    z-index: 2;
    font-family: "OpenSans Regular"
}

.popup__clouse {
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 17px;
    right: -1px;
    top: -23px;

    cursor: pointer;
}

.clouse-img {
    width: 17px;
    height: 17px;
}

.popup__clouse-background {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    cursor: pointer;
}

.question {
    font-family: inherit;
    font-size: 13px;
    margin-top: 28px;
    width: 100%;
}

.question-txt {
    display: block;
    padding-bottom: 11px;
}

select {
    color: rgb(121, 122, 122);
    position: relative;
    -webkit-appearance: none;
    background-image: url("../svg/form-arrows.svg");
    background-repeat: no-repeat;
    background-size: 7px 17px;
    background-position: right 14px center;
}

.radio {
    display: none;
}

.radio-txt {
    margin-right: 13px;
    font-size: 13px;
}

.radio-txt::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 5px;

    background-image: url("../svg/form-empty-circle.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 18px;
    vertical-align: middle;
}

.radio:checked ~ .radio-txt::before {
    background-image: url("../svg/form-circle.svg")
}

.search-textarea {
    min-height: 130px;
    resize: none;
}

.popup-button {
    margin-top: 27px;
}

.ref {
    text-decoration: none;
    color:inherit
}

.ref:hover {
    color: rgb(181, 159, 91);
}

.hat {
    background-color: rgb(0, 0, 0);
    position: relative;
    background-image: url("../images/banner-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-bottom: 128px;  
}

.hat::after {
    content: "";
    position: absolute;
    opacity: 0.6;
    background-color: rgb(0, 0, 0);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.container-hat {
    z-index: 1;
    position: relative;
}

.container-top {
    display: flex;
    padding-top: 29px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 129px;
}

.menu-list {
    display: flex;
    flex-wrap: nowrap;
    list-style-type: none;
    font-size: 13px;
    font-family: "OpenSans Regular";
    font-weight: normal;
    text-transform: uppercase;
  }

.menu-list-link a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    list-style-type: none;
}

.menu-list-link:nth-child(1n + 2) {
    margin-left: 36px;
}

.menu-list-link:hover {
    text-decoration: underline;
}

.logo {
    width: 179px;
    height: 41px;
    z-index: 1;
    position: relative;
}

.intro {
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 45px;
    text-align: center;
    text-transform: uppercase;
    padding-left: 246px;
    padding-right: 246px;
}




.center {
    padding-top: 63px;
}

.trends {
    width: 100%;
    max-width: 1660px;
    margin-bottom: 64px;
    margin-left: auto;
    margin-right: auto;
}

.head {
    margin-top: 0;
    margin-bottom: 25px;
    text-align: center;
    font-size: 20px;
    line-height: 29px;
    font-weight: bold;
    text-transform: uppercase;
}

.head::after {
    content: "";
    display: block;
    width: 66px;
    height: 3px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5px;
    opacity: 0.4;
    background-color: rgb(255, 217, 189);
}

.trends-list {
    display: flex;
    justify-content: space-between;
}

.trend {
    position: relative;
    width: calc((100% - 12px) / 4);
    overflow: hidden;
}

.trend:after {
    content: "";
    position: absolute;
    opacity: 0.6;
    background-color: rgb(0, 0, 0);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

.trend-image-container {
    overflow: hidden;
}

.image-trend {
    display: block;
    min-width: 100%;
    object-fit: cover;
}

.trend-inform {
    right: 0;
    bottom: 0;
    left: 0;
    margin: 4.96% 5.3%;
    border: 3px solid rgb(139, 125, 84);
    position: absolute;
    z-index: 1;
    padding-top: 14px;
}   

.tags {
    color: rgb(181, 159, 91);
    list-style-type: none;
    display: flex;
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 0;
    padding-left: 10%;
    margin-block-end: 0;
}

.tag-link {
    margin-right: 20px;
}

.text-inform {
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 11px;
    margin-bottom: 33px;
    display: block;
}

.wrapper {
    box-sizing: border-box;
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.page-container {
    display: flex;
    justify-content: space-between;
}

.posts {
    width: 778px;
    margin-right: 35px
}

.post {
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
}

.post:nth-child(1n + 2) {
    margin-top: 58px
}

.image-post {
    width: 380px;
}

.post-inform {
    margin-left: 30px;
}

.post-header {
    margin-bottom: 52px;
}

.center-tags {
    padding-left: 0;
}

.post-head {
    margin-top: 15px;
    margin-bottom: 35px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 24px;
}

.date-author {
    display: flex;
}

.date {
    padding-right: 14px;
    font-family: "Open Sans";
    font-weight: normal;
    font-size: 12px;
    color: rgb(136, 136, 136);
    white-space: nowrap;
}

.author {
    margin: 0;
    font-weight: bold;
    font-size: 12px;
    color: rgb(0, 0, 0);
    white-space: nowrap;
}

.post-text {
    font-weight: normal;
    font-size: 15px;
    color: rgb(0, 0, 0);
    line-height: 22px;
}

.post-text p {
    margin-top: 10px;
}
.sidebar {
    width: 271px;
}


.new-posts {
    margin-bottom: 52px;
}

.mini-head {
    font-size: 14px;
}

.fresh-post {
    display: flex;
}

.fresh-post:nth-child(n + 2) {
    margin-top: 20px;
}

.image-mini {
    width: 70px;
}

.mini-inform {
    padding-left: 10px;
}

.mini-trend {
    font-family: "Open Sans";
    font-weight: bold;
    line-height: 18px;
    font-size: 14px;
    margin-top: 3px;
    text-transform: uppercase;
    display: block;
}

.search-bar {
    width: 100%;
    height: 48px;
    box-sizing: border-box;
    display: flex;
    margin-bottom: 62px;
}

.search {
    background-color: rgb(244, 247, 246);
    width: 100%;
    border: 0;
    padding: 19px;
    box-sizing: border-box;
    outline: none;
}

.search-button {
    width: 18%;
    cursor: pointer;
    background-color: rgb(181, 159, 91);
    border: none;
    padding: none;
    background-image: url("../svg/search.svg");
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: center center;
}

.email-button {
    margin-bottom: 61px;
}

.email {
    width: 100%;
    margin-top: 23px;
    margin-bottom: 18px;
}

.button {
    border: none;
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 14px;
    color: rgb(255, 255, 255);
    background-color: rgb(181, 159, 91);
    cursor: pointer;
    width: 100%;
    height: 48px;
    outline: none;
}

.side-tags {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    width: 100%;
}

.side-tag {
    border: 3px solid rgb(238, 238, 238);
    margin: 6px;
    padding: 7px;
    font-weight: bold;
    font-size: 14px;
}

.topics {
    margin-top: 61px;
}

.topics-tags {
    list-style-type: none;
}

.topic-tag {
    font-weight: bold;
    font-size: 14px;
    border-bottom: 1px solid rgb(238, 238, 238);
    margin-bottom: 15px;
    padding-bottom: 12px;
    display: flex;
}

.topic-number {
    font-weight: bold;
    font-size: 12px;
    color: rgb(181, 159, 91);
    vertical-align: super;
}

.buy-panel {
    margin-top: 60px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.products {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.product {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-container {
    width: 300px;
    text-align: center;
}

.buy-content {
    border: 3px solid rgb(181, 159, 91);
    position: relative;
    z-index: 1;
    flex: 1 0 auto;
    margin-top: -35px;
    padding: 55px 23px 26px 21px;
}

.buy-post-head {
    margin-top: 0;
    margin-bottom: 0;
}

.product-ref {
    text-decoration: none;
    color: rgb(181, 159, 91);
}

.price-button {
    display: flex;
    margin-top: 24px;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
}

.price {  
    font-weight: bold;
    font-size: 20px;
    display: block;
}

.crossed-price {
    font-size: 14px;
    text-decoration: line-through;
}

.button-buy {
    width: 40.76%;
    position: relative;

}

.foot {
    margin-top: 69px;
    padding-bottom: 30px;
}

.messangers {
    background-color: rgb(238, 238, 238);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
}
.messanger-logs {
    display: flex;
    list-style: none;
}

.messanger-log {
    width: 19px;
    height: 18px;
    padding-right: 29px;
}

.copyright {
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    color: rgb(153, 153, 153);
    margin-bottom: 43px;
}

@media (max-width: 640px) {
    .hat {
        background-image: url("../images/banner-mobile.jpg");
        padding-bottom: 220px;
    }

    .hamburger-menu {
        position: relative;
    }

    #menu__toggle {
        display: none;
    }
      
    #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
    }
    #menu__toggle:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
    }
    #menu__toggle:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }
    #menu__toggle:checked ~ .menu__box {
        visibility: visible;
        right: 0;
    }
    
    .menu__btn {
        display: flex;
        align-items: center;
        position: fixed;
        top: 20px;
        right: 20px;
        
        width: 26px;
        height: 26px;
        
        cursor: pointer;
        z-index: 1; 
    }
    
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        display: block;
        position: absolute;
        
        width: 100%;
        height: 2px;
        
        background-color: rgb(255, 255, 255);
        
        transition-duration: .25s;
    }
    .menu__btn > span::before {
        content: '';
        top: -8px;
    }
    .menu__btn > span::after {
        content: '';
        top: 8px;
    }
    
    .menu__box {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        right: 0;
    
        width: 300px;
        height: 100%;
    
        margin: 0;
        padding: 80px 0;
    
        list-style: none;
    
        background-color: rgb(181, 159, 91);
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    
        transition-duration: .25s;
    }
    
    .menu__item {
        display: block;
        padding: 12px 24px;
    
        color: #333;
    
        font-weight: 600;
    
        text-decoration: none;
    
        transition-duration: .25s;
    }
    .menu__item:hover {
        background-color: #CFD8DC;
    }
    .container-top {
        display: none;
    }

    .logo {

    }

    .ref {

    }

    .menu {
        display: none;
    }

    .menu-list {

    }

    .menu-list-link {

    }

    .menu-link {

    }

    .intro {
        font-size: 26px;
    }

    .trends-list {
        display: block;
    }

    .page-container {
        display: block;
    }

    .posts {
        box-sizing: border-box;
        width: auto;
    }

    .post {
        display: block;
    }

    .products {
        display: block;
    }
}

@media (min-width: 641px) and (max-width: 1199px) {
    
}

@media (min-width: 1200px) {
    .hamburger-menu {
        display: none;
    }
}